<%= link_to "Criar produto", new_product_path %>

<% @products.each do |product| %>

<p> <%= product.name %></p>
<p> <%= product.price %></p>
<p> <%= product.quantity %></p>

<%= link_to "Ver produto", product %>
<%= link_to "Editar produto", edit_product_path(product) %>
<% end %>
